@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.principal {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/Headphones_Reflection_Black_background_586911_1280x1024.jpg');
    background-position: 50% 30%;
    background-size: auto;
}

.head{
    width: 20%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 0 0 40px 0;
    border: solid 3px #fff;
}

.back {
    width: 50px;
    height: 50px;
    color: #fff;
    border-radius: 50%;
    border: solid 3px #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back:hover {
    transform: scale(1.10);
    transition: 2s;
}

i {
    color: #fff;
}


.title {
    width: 200px;
    height: 70px;
}

span {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}

.second {
    max-width: 100%;
    height: 612px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 55px;
}

.one, .two, .trhee {
    height: 600px;
    width: 500px;
    padding: 5px;
    display: grid;
    border: solid #fff 2px;
    position: relative;
}

.html{
   width: 150px;
   margin-top: 500px;
   margin-left: 130px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   cursor: pointer;
}

.html:hover {
    transform: scale(1.08);
    transition: 2s;
}

.css{
   width: 150px;
   height: 100px;
   margin-top: -330px;
   margin-left: 130px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
  
}

.css:hover {
    transform: scale(1.08);
    transition: 2s;
}

.js{
   width: 150px;
   height: 100px;
   margin-top: -555px;
   margin-left: 130px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.js:hover{
    transform: scale(1.08);
    transition: 2s;
}

img {
   width: 45px;
   height: 45px;
   position: absolute;
   clip-path: inset(0 10% 0 0 );
   color: #000;
}

#js2 {
   position: absolute;
   clip-path: inset(0 0 0 90%);
   color: #ccc;
   filter: grayscale(100);
}

#cs2{
   position: absolute;
   clip-path: inset(0 0 0 90%);
   color: #ccc;
   filter: grayscale(100);
}

p {
    width: 20px;
    margin-left: 80px;
    color: #fff;
}

.type{
   width: 150px;
   height: 100px;
    margin-top: 500px;
    margin-left: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: fixed;
}

.type:hover {
    transform: scale(1.08);
    transition: 2s;
}

.trpor{
    width: 45px;
   height: 45px;
   position: absolute;
   clip-path: inset(0 70% 0 0 );
   color: #000;
}

#trpor{
   position: absolute;
   clip-path: inset(0 0 0 30%);
   color: #ccc;
   filter: grayscale(100);
}

.meio{
   width: 45px;
   height: 45px;
   position: absolute;
   clip-path: inset(0 50% 0 0 );
   color: #000;
}

#meio2{
    position: absolute;
   clip-path: inset(0 0 0 50%);
   color: #ccc;
   filter: grayscale(100);
}

.react{
   width: 150px;
   height: 100px;
   margin-top: 400px;
    margin-left: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: fixed;
}

.react:hover {
    transform: scale(1.08);
    transition: 2s;
}

.node{
   width: 150px;
   height: 100px;
    margin-top: 300px;
    margin-left: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: fixed;
}

.node:hover {
    transform: scale(1.08);
    transition: 2s;
}

.sql{
   width: 150px;
   height: 100px;
    margin-top: 200px;
    margin-left: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: fixed;
}

.sql:hover {
    transform: scale(1.08);
    transition: 2s;
}

.dez{
   width: 45px;
   height: 45px;
   position: absolute;
   clip-path: inset(0 90% 0 0 );
   color: #000;
}

#dez{
    position: absolute;
   clip-path: inset(0 0 0 10%);
   color: #ccc;
   filter: grayscale(100);
}

.git-hub{
   width: 150px;
   height: 100px;
    margin-top: 50px;
    margin-left: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   position: fixed;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 2px;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  background-color: black;
  border-radius: 50%;
}

.para {
    font-size: 12px;
}

.python{
    margin-top: 30px;
    margin-left: 50px;
}

.ruby, .cmais, .bash, .java {
    margin-left: 250px;
}

.php, .chash, .scala{
    margin-left: 50px;
}

.zero {
  width: 45px;
   height: 45px;
   position: absolute;
   clip-path: inset(0 100% 0 0 );
   color: #000;
}

#zero2 {
   position: absolute;
   clip-path: inset(0 0 0 0%);
   color: #ccc;
   filter: grayscale(100);
}


#modal-img {
    top: 15px;
    left: 720px;
    width: 100px;
    height: 100px;
    background-size: cover;
}

#modal-text {
    margin-top: 130px;
    margin-left: 500px;
    font-size: 30px;
    width: 500px;
    height: auto;
    color: #fff;
    background-color: #1e1d1d;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 820px) {

    .head{
        width: 250px;
        height: 100px;
    }

    .title {
        margin-left: 25px;
        margin-bottom: 50px;
    }

    .one, .two, .trhee {
        width: 250px;
        position: relative;
    }

    .html {
      right: 100px;
    }

    .css, .js {
         position: relative;
         right: 100px;
    }

    .type, .node, .git-hub {
        left: 200px;
    }

    .react, .sql {
        right: 320px;
    }

    .ruby, .cmais, .bash, .java {
        margin-left: 100px;
    }

    .python, .php, .chash, .scala{
        margin-left: 20px;
    }

    
    #modal-img {
        top: 15px;
        left: 350px;
    }

    #modal-text {
        margin-top: 130px;
        margin-left: 130px;
    }

}

@media ( max-width: 480px ) {

     .head{
        width: 150px;
        height: 50px;
    }

    .title{
        margin-top: 80px;
    }

    span {
        font-size: 10px;
    }

    .back {
        width: 25px;
        height: 25px;
    }

     .one, .two, .trhee {
        width: 160px;
        position: relative;
    }

    img {
        width: 25px;
        height: 25px;
    }

    .meio, .trpor, .dez, .zero {
         width: 25px;
         height: 25px;
    }

    p {
        font-size: 10px;
        margin-left: 60px;
    }

    .html, .css, .js{ 
        right: 150px;
    }

      .type, .node, .git-hub {
        left: 70px;
    }

    .react, .sql {
        right: 150px;
    }

    .para{ 
        font-size: 10px;
        margin-left: 30px;
    }

     .ruby, .cmais, .bash, .java {
        margin-left: 50px;
    }

    .python, .php, .chash, .scala{
        margin-left: 10px;
    }

    #modal-img {
        left: 200px;
    }

    #modal-text {
        width: 280px;
        margin-left: 80px;
        font-size: 25px;
    }

}

@media (max-width: 393px) {

    .one, .two, .trhee {
        width: 110px;
    }

     .html, .css, .js{ 
        right: 160px;
    }

    p {
        font-size: 8px;
    }

      .type, .node, .git-hub {
        left: 70px;
        position: fixed;
    }


    .para{ 
        font-size: 8px;
        margin-left: 30px;
    }

     .ruby, .cmais, .bash, .java {
        margin-left: 40px;
    }

    .python, .php, .chash, .scala{
        margin-left: 10px;
    }


     #modal-img {
        left: 140px;
    }

    #modal-text {
        width: 280px;
        margin-left: 25px;
        font-size: 18px;
    }

    .close {
        right: 20px;
    }

}

